.rodape {
    box-shadow: 0 0 10px rgba(0 0 0 / 20%);
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin: 1.5rem 0 4rem 0; */
    margin: 2rem 0 0 0;
    padding: 0 10px;
    background-color: var(--branco);
}

.rodape p {
    font-family: var(--fonte-bold);
}