:root {
    --fonte-normal: "GandhiSansRegular";
    --fonte-bold: "GandhiSansBold";
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #E2E2E2;
    --robin-egg-blue: rgb(195, 248, 247);
    --dark-cyan: rgb(2, 206, 199);
    --cor-fonte: #80CED0ff;
    --light-sea-green: #1AA7A1ff;
    --azul: #1bb4ad;
}

body {
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    background: var(--branco);
    font-family: var(--fonte-normal);
    /* background: rgb(210,254,253);
    background: linear-gradient(0deg, var(--robin-egg-blue) 0%, var(--dark-cyan) 100%); */
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--cor-fonte);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--azul);
    border-radius: 20px;
}

@font-face {
    font-family: "GandhiSansRegular";
    src: local("GandhiSansRegular"),
        url("./assets/fonts/GandhiSans-Regular.otf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "GandhiSansBold";
    src: local("GandhiSansBold"),
        url("./assets/fonts/GandhiSans-Bold.otf") format("truetype");
    font-weight: 700;
    font-display: swap;
}